[2016-01-03 16:20] valera-rozuvan opened #1 "Do we really need a separate opencv-demonstrator-data repository?"
When I created the **opencv-demonstrator-data** [[link](https://github.com/tsdconseil/opencv-demonstrator-data)] repository that contains the entire contents of the folder **ocvdemo/data**, I was thinking along the following lines:
1. We need to separate the code and the assets (images, and later videos) into separate packages. Because while the images (and videos) will most likely not change that

[2016-01-03 18:14] juliena82 commented on #1
As already discussed by mail, I would vote for option 3, with the nuance that we can keep the additionnal repo that Valera has already created instead of creating a new one, and also with the precision that all data necessary for the program (including downsampled version of images) would be in the main repository. For completeness, I include below my last mail:
- This is a small project. I have t

[2016-01-03 18:26] valera-rozuvan commented on #1
I also believe that the way to go is with **Option 3**.

In the main repository **opencv-demonstrator** we should have all the necessary files for build. Along with down-sampled images (and later videos). We will keep the repository **opencv-demonstrator-data** and use that to store other image and video assets at their full resolutions.

We can also include a small script in the main repository t

[2016-01-03 18:40] valera-rozuvan commented on #1
@juliena82 I will add back the **data** folder to the **opencv-demonstrator** repository tonight. `README.md`, and the `.gitignore` files will need to be updated. After that, I will close this issue.

[2016-01-03 19:02] valera-rozuvan commented on #1
Issue resolved in commit bb7177d7cfa18fc2a7d3dab48369b56c886fa106.

[2016-01-03 19:02] #1 closed, assigned to nobody

[2016-01-03 19:11] valera-rozuvan opened #2 "What's the deal with -march=i486 compile flag?"
When trying to compile under Linux, I get the following error message:

[code]

I believe that this is due to the fact that my CPU isn't compatible with the `-march=i486` compile flag (see [ocvdemo/Makefile](https://github.com/tsdconseil/opencv-demonstrator/blob/master/ocvdemo/Makefile)). @juliena82 - what was the reasoning behind this compile flag? Did you want to optimize code generation for you

[2016-01-03 19:13] valera-rozuvan commented on #2
@juliena82 Here is some information about my CPU:

[code]

[2016-01-03 19:32] juliena82 commented on #2
I think that you can simply remove the i486 flag. I do no remember yet why I used it, yes probably an optimization try...

It’s line 49 in ocvdemo/Makefile

From: Valera Rozuvan
Sent: Sunday, January 03, 2016 8:13 PM
To: tsdconseil/opencv-demonstrator
Cc: juliena82
Subject: Re: [opencv-demonstrator] What's the deal with -march=i486 compile flag? (#2)

@juliena82 Here is some information about my C

[2016-01-03 20:56] valera-rozuvan opened #3 "No rule to make .exe file when TARGET=LINUX is set"
Hi @juliena82 ! = ) I am almost at the finish line! = ) Now, after all compiles nicely, there is a strange link error:

[code]

How should the `Makefile` be modified in order to exclude the `.exe` file on Linux?

[2016-01-03 23:30] shervinemami commented on #1
Wow you guys resolved the problem while I was sleeping (I'm in Australia), that's fast! I agree with how you decided to do it. I'll just quickly mention that actually OpenCV is doing the same approach as this: they have the main "opencv" repo that has everything you need to build OpenCV, but they also have a separate "opencv-testdata" repo with the huge image & video files (houndreds of MB!) that

[2016-01-03 23:49] valera-rozuvan commented on #2
Resolved in 21c5ddfd4037f49daac9ae10b3c3343822c74a01.

[2016-01-03 23:49] #2 closed, assigned to nobody

[2016-01-03 23:50] valera-rozuvan commented on #3
I have compiled it! It is alive = ) OK. So I got it to compile on latest stable Debian. With some minor hiccups... Fix is already in master = )

[2016-01-03 23:51] valera-rozuvan commented on #3
Issue resolved in commit 21c5ddfd4037f49daac9ae10b3c3343822c74a01.

[2016-01-03 23:51] #3 closed, assigned to nobody

[2016-01-04 00:12] valera-rozuvan opened #4 "Weird make behavior for ocvext"
@juliena82 @shervinemami So, I managed to build the project under Debian GNU/Linux 8 (jessie). I can run the executable just fine, the program functions OK. The only hiccup was when running `make` command in the **ocvext** folder. The first time I ran it, it complained that it couldn't find a **build** folder. Exact error was:

[code]

After I manually created the **build** directory with the `mkd

[2016-01-04 00:21] shervinemami commented on #3
Great job @valera-rozuvan, sounds like you're almost done :)

[2016-01-04 00:24] valera-rozuvan opened #5 "Source code file character encoding and line endings"
We need to decide at an early stage of this project what to do with character encoding (of source files), and the line endings. I see 3 options:

**Option 1**

Convert all files to utf-8, and Unix style line endings. Unix uses just line feed ("\n").

**Option 2**

Convert all files to utf-8, and Windows style line endings. DOS/Windows uses carriage return and line feed ("\r\n") as a line ending.

[2016-01-04 00:32] shervinemami commented on #5
I agree that the most important thing is that it is all consistent, so either Option 1 or Option 2. My preference is Option 1, but Option 2 is OK too.

[2016-01-04 07:57] juliena82 commented on #3
Congratulations!
For the link error, it is strange that it appears with some linux distribution and not with another... At this point, the error is caused by the Makefile not finding a required dependance for building the executable. It may be for instance that ocvext or libcutil were not build, or another external Library is missing.

[2016-01-04 08:05] juliena82 commented on #4
Fixed in commit e158085.

[2016-01-04 08:05] #4 closed, assigned to nobody

[2016-01-04 08:07] juliena82 commented on #5
Yes, I would like ideally option 1 also!
I will try to use utf-8 and \n from now on.
However, using Windows, I am not sure that my local Eclipse or Xemacs editor will not add a \r by mistake. Also, for the XML files, the port to utf-8 must be done also, but it will not be so easy, as the current XML parser used supports only 8859-9 and not utf-8.

So it will take some time I think to have all in u

[2016-01-04 08:47] shervinemami commented on #5
Any decent editor like Eclipse or Xemacs will have a setting to choose line
endings mode. But yes you raise a good point that if the XML parser can't
handle UTF-8 then it makes things a little harder!

[2016-01-04 12:12] valera-rozuvan opened #6 "Building under Ubuntu 14.04.3"
Hi @shervinemami and @juliena82 . Below are the instructions that I used to build this project under **Ubuntu 14.04.3**. Please verify them, when you get the chance.

[code]

Next, run the program with:

[code]

If it works for you guys, we can put these instruction into our documentation on how to build this project under Ubuntu.

PS: If you don't have `aptitude` installed, use `apt-get` or insta

[2016-01-04 12:16] shervinemami commented on #6
Thanks! I'll try it on Linux Mint 17.1 KDE ...

[2016-01-04 12:39] valera-rozuvan commented on #6
@shervinemami @juliena82 I forgot one very important build step! = ) You need to do:

[code]

Before you start building this project. I will update the instructions, and include this step.

[2016-01-04 12:42] juliena82 commented on #6
Very cool to have noted all the build steps, especially the list of Tools to be installed for opencv.
Is the list of OpenCV CMAKE options complete in your listing (I mean are the three dots to be replaced by something) ?

[2016-01-04 12:46] valera-rozuvan commented on #6
@juliena82 Please check again the build instructions! There are 2 dots! They represent the parent directory. Cmake needs the path to the source directory. When you are inside **build** directory, the source directory is exactly one level above you. That's why we use **`..`**.

Yes. The options for the `cmake` are complete. You don't need to add anything else to the options.

[2016-01-04 12:50] juliena82 commented on #6
Perfect!
Now we have very precise and repeatable build instructions for Linux. Maybe we can update the doc/build-instructions.md file with it?

[2016-01-04 12:50] valera-rozuvan commented on #6
@juliena82 I would prefer that at least @shervinemami should verify them. They worked for me. Who knows if they will work only for me?

[2016-01-04 12:53] juliena82 commented on #6
Yes good idea indeed!
Also I can try to verify it myself, I have an old Ubuntu distribution (I must first repair a problem I have with apt-get update that seems to not work anymore...)

[2016-01-04 12:59] shervinemami commented on #6
I'm halfway through building OpenCV, should be another 20 mins or so. This is a very minor issue, but I recommend getting rid of the "build_from_source" folder and just create the 3 folders into the home folder (or rename the "build_from_source" folder to "opencv-demonstrator").

[2016-01-04 13:02] juliena82 commented on #6
renaming to "opencv-demonstrator", or "ocvdemo" would be a good choice I think too.

[2016-01-04 13:03] valera-rozuvan commented on #6
@shervinemami It's just that some people prefer to build libraries and software packages in a specific directory. Some of by friends have a **~/bin/** folder for this. I saw someone just has a **~/projects** directory. Anyways, obviously you can do it in your **~/** directory.

We can't rename the **build_from_source** folder to **opencv-demonstrator** because then we would have a **opencv-demonst

[2016-01-04 13:05] valera-rozuvan commented on #6
@juliena82 I would keep the GitHub project named **opencv-demonstrator**. This way - Google can find the **opencv** part in the name! For the executable built, we can of course name it as **ocvdemo**.

[2016-01-04 13:12] juliena82 commented on #6
@valera-rozuvan  Yes you are right. I didn't mean to rename the project ;)

[2016-01-04 13:14] shervinemami commented on #6
@valera-rozuvan yes it's only a very minor issue so it's OK either way :-) Let's just leave it how it is now but in the instructions we can just say something like: These instructions will download & build OpenCV 3.0 and OpenCV-demonstrator into a "build_from_source" folder, but feel free to place it anywhere you wish.

[2016-01-04 13:15] valera-rozuvan commented on #6
@shervinemami +1

[2016-01-04 13:17] shervinemami commented on #6
I'm building the code now ...

[2016-01-04 13:24] shervinemami commented on #6
It worked perfectly in Linux Mint 17.1 KDE! Well done!

[2016-01-04 13:27] valera-rozuvan commented on #6
= ) OK. I will add these instructions to the file [build-instructions.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/build-instructions.md).

[2016-01-04 13:30] shervinemami opened #7 "Language choice page is all in French"
I noticed that on the first screen, it asks which language you want, but even though it defaults to selecting English for me, the choice of input type (default vs file vs USB) was in French, and so were the OK / Cancel buttons. Ideally those things change with the language selection, or atleast we should write both English & French on them so it is OK for most people.

[2016-01-04 13:43] valera-rozuvan commented on #6
Issue fixed in commit 21beab753e35f4513d870bfad74e7afe7373836f.

[2016-01-04 13:43] #6 closed, assigned to nobody

[2016-01-04 13:46] valera-rozuvan opened #8 "Update BUILD INSTRUCTIONS FOR WINDOWS"
Currently, the Windows instructions say:

[code]

However, I don't know if this will work now. Need to check, and update the Windows build instructions in [build-instructions.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/build-instructions.md) as necessary.

[2016-01-04 13:47] valera-rozuvan commented on #8
@juliena82 Can you please check this when you get a chance?

[2016-01-04 13:49] valera-rozuvan commented on #7
@shervinemami , @juliena82 I propose to use English as the language for first screen (the one that asks you to choose a language).

Another option will be to get the current language from the System's locale. If the system locale is set to a language that we don't support, then we will use English.

[2016-01-04 13:51] valera-rozuvan commented on #5
@juliena82 Can you please briefly outline what needs to be done to make the current XML parser support UTF-8?

[2016-01-04 17:23] valera-rozuvan commented on #5
From an e-mail by: @juliena82 :

[code]

[2016-01-04 17:27] valera-rozuvan commented on #5
As I understand correctly, we need to replace the following files:
- libcutil/src/xml.lex
- libcutil/src/xml.y
- libcutil/src/mxml.cc
- libcutil/include/mxml.hpp

with some XML parser library that supports UTF-8?

[2016-01-04 17:29] valera-rozuvan commented on #5
@juliena82 I suggest we use **[pugixml](https://github.com/zeux/pugixml)**! What do you think?

[2016-01-04 17:34] juliena82 commented on #8
@valera-rozuvan I just splitted linux build instruction in 2 parts, so that now it's ok for Windows.

[2016-01-04 17:34] #8 closed, assigned to nobody

[2016-01-04 17:38] juliena82 commented on #5
@valera-rozuvan Why not, it seems quite lightweight and without dependencies (apparently), which is good. Let me some time to study question and the impact on the code.

[2016-01-04 18:11] juliena82 commented on #7
@shervinemami bug fixed, indeed the default selected language was English, but the initial dialog was in french anyway...

[2016-01-04 18:11] #7 closed, assigned to nobody

[2016-01-04 18:57] valera-rozuvan opened #9 "What's the purpose of install-libs.sh script?"
@juliena82 I was looking at the **libcutil/data** folder, and noticed the [install-libs.sh](https://github.com/tsdconseil/opencv-demonstrator/blob/master/libcutil/data/install-libs.sh) script there. What is the purpose of this script? Is it for Windows dev env setup?

[2016-01-04 19:03] valera-rozuvan opened #10 "Why do we need COPTADD in the file libcutil/data/std-makefile-defs ?"
The file **libcutil/data/std-makefile-defs** [[link](https://github.com/tsdconseil/opencv-demonstrator/blob/master/libcutil/data/std-makefile-defs)] has the following variable:

[code]

Why do we need it, and why does it have **gtkmm-2.4**?

[2016-01-04 19:03] juliena82 commented on #9
@valera-rozuvan, no its for linux dev env setup, but not specically for this project (libcutil is bunch of helper functions that I use for other projects). Moreover, if you look at the opencv part, it's still the 2.4...
So script should be no concern for us (althought I need it to stay here...)

[2016-01-04 19:04] #9 closed, assigned to nobody

[2016-01-04 19:14] valera-rozuvan commented on #10
@juliena82 Any insight on this?

[2016-01-04 19:20] juliena82 commented on #10
-isystem ... is not a necessity, it's just to accelerate the make process.
And yes, this is not up to date! (should be gtkmm-3.0). I will update it someday. Anyway it does no harm.
-fPIC i don't remember now (you can look in the GCC or LD options for more détails).
-DLINUX is for the sources files to know we are Under linux and not Windows.
-DLINUX_RUN is surely an artefact of old code (but should

[2016-01-04 19:48] valera-rozuvan commented on #5
@juliena82 I think the best way to handle this would be to just touch the **libcutil**. What I mean by this, is to keep the same interface (so that we don't also have to modify **ocvdemo** for example), but change the XML parsing mechanism to use the [pugixml](https://github.com/zeux/pugixml) library.

So, to reiterate, right now we have for example in file [ocvdemo/src/ocvdemo.cc](https://github.

[2016-01-04 20:02] juliena82 commented on #5
@valera-rozuvan I am not sure to understand. Yes of course, the change is localized in libcutil.

[2016-01-04 20:03] juliena82 commented on #5
I had already started the pugixml integration. It does not work yet however.

[2016-01-04 20:29] juliena82 commented on #5
@valera-rozuvan By any chance, do you know a good software to convert a ISO-8859-1 XML file to UTF-8 file? I don't want to code it...

[2016-01-04 20:34] valera-rozuvan commented on #5
@juliena82 Yes. On Linux you can do:

[code]

We can use this command to write a small script that converts all files in a directory recursively. See also [Determine and change file character encoding | mindspill.net](http://mindspill.net/computing/linux-notes/determine-and-change-file-character-encoding/).

You can leave this task to me, if you don't have a Linux machine near you... But do create

[2016-01-04 20:49] juliena82 commented on #5
Thanks! I seems to work very well (I have not linux, but MINGW/MSYS, and this command as well).
Now I have other problems...

[2016-01-04 21:38] juliena82 commented on #5
@valera-rozuvan
Ok, the UTF-8 support almost work. There remain only small things to fix. I will finish tomorrow.
Soon, you will have a lot of russian translation to do ;)

[2016-01-04 22:27] juliena82 commented on #5
Ok now the data files are in UTF-8.
See below a screenshot with cyrillic characters (but it's probably nonsense, since I used Google automatic french -> russian translations).

There is still a problem with the title of the result window (not with the title of the main window). The special thing about that is that the result window is an opencv window, not a gtk window. Maybe opencv Windows do not

[2016-01-04 22:29] juliena82 commented on #5
@valera-rozuvan  Of course, the translation is a lot work, and not prioritary. But, if you have the time, it would be great to have the demonstrator in the original language of the OpenCV authors!

[2016-01-04 22:41] shervinemami commented on #10
I believe -fPIC is needed if you want to create shared libraries (.so files) with GCC, so you should leave it there if it's already working.

[2016-01-05 09:36] valera-rozuvan commented on #5
@juliena82 We can create a normal Gtk window, and draw images to that. Why did you decide to use the OpenCV windows for image output?

[2016-01-05 10:26] valera-rozuvan opened #11 "New build targets for the global Makefile."
@shervinemami @juliena82  Please be aware that I updated the global [Makefile](https://github.com/tsdconseil/opencv-demonstrator/blob/master/Makefile). Now you can use:

[code]

or

[code]

Also, I have included a **clean** target:

[code]

---

I have also updated the [doc/build-instructions.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/build-instructions.md) file.

[2016-01-05 10:36] valera-rozuvan opened #12 "Provide Russian translations"
We now have the capacity to use UTF-8 in XML files (see Issue #5). Russian translations can now be added.

[2016-01-05 10:37] valera-rozuvan opened #13 "Use normal Gtk windows for OpenCV image (video) output"
This questions was raised in Issue #5.

@juliena82 What do you say about this idea, switching to Gtk for displaying images and videos?

[2016-01-05 10:38] valera-rozuvan opened #14 "Convert the rest of project to UTF-8"
The XML files are in UTF-8 now (this was done as part of issue #5). We can proceed to to converting the rest of source files to UTF-8.

[2016-01-05 10:39] #5 closed, assigned to nobody

[2016-01-05 10:49] shervinemami commented on #5
Nice work @valera-rozuvan !

[2016-01-05 10:51] valera-rozuvan commented on #5
No, it's nice work @juliena82 !!! @shervinemami = )

[2016-01-05 10:55] valera-rozuvan opened #15 "Added CONTRIBUTORS.md file"
So, the file is [here](https://github.com/tsdconseil/opencv-demonstrator/blob/master/CONTRIBUTORS.md). @juliena82 check how I added your contact info...

PS: @shervinemami time for your first commit! = ) Then add yourself to the CONTRIBUTORS.md file.

[2016-01-05 11:19] juliena82 commented on #14
Technically, the rest of the project is already in UTF-8. In fact, it is (or should be) in ASCII (only English caracters).

[2016-01-05 11:21] juliena82 commented on #13
Yes, I think the same, and it was already in my todo list.
The fact that this window is a OpenCV is historical, and afterwards I realized that Gtk Windows are more practical. That's why all the other Windows are already Gtk ones.

[2016-01-05 11:22] juliena82 commented on #11
Good modification!

[2016-01-05 11:22] valera-rozuvan commented on #14
@juliena82 Not everything.

[code]

[2016-01-05 11:23] #11 closed, assigned to nobody

[2016-01-05 11:34] juliena82 commented on #14
I said **technically**, meaning there are ASCII up to my knowledge.
Your test show that there is (at least) an invalid chararacter in this file.
Since you have the tools, can't you locate it and fix it?

[2016-01-05 11:36] shervinemami commented on #15
Haha good point, I don't deserve to be added to the contributors yet! In the next few weeks I will be trying out OpenCV 3 for the first time, so I'll probably have some stuff to contribute and then I can get added to the contributors after that :-)

[2016-01-05 11:37] valera-rozuvan commented on #14
@juliena82 OK. I will do it. Some french characters are present in the source. For example:

[code]

I will convert all of the files to UTF-8, and push this change to GitHub.

[2016-01-05 11:39] #15 closed, assigned to nobody

[2016-01-05 11:45] juliena82 commented on #14
@valera-rozuvan Yes, but now that I think about it, there still may be some ISO8859 files in libcutil/data. Please don't touch touch them for now, I still use them for other projects, and in case, it breaks something, I want to do the things safely.

[2016-01-05 11:48] valera-rozuvan commented on #14
@juliena82 OK. I will not touch the **libcutil/data** files.

[2016-01-05 11:50] juliena82 commented on #14
Thanks

[2016-01-05 11:51] valera-rozuvan commented on #14
@juliena82 In the **libcutil/data** folder, only the `*.xml` files should be converted to UTF-8? Right?

[2016-01-05 11:53] valera-rozuvan commented on #14
@juliena82 To be more precise:

[code]

[2016-01-05 11:55] valera-rozuvan commented on #14
@juliena82 Before committing my changes, I will show you them to you. To be sure I don't screw up anything = )

[2016-01-05 11:59] valera-rozuvan commented on #14
Fix for this issue is in Pull Request https://github.com/tsdconseil/opencv-demonstrator/pull/16.

[2016-01-05 12:03] juliena82 commented on #14
I mean the files in libcutil/data should **not** be touched for now.

[2016-01-05 12:06] valera-rozuvan commented on #14
@juliena82 OK. I will remove them from my Pull Request https://github.com/tsdconseil/opencv-demonstrator/pull/16/ .

[2016-01-05 12:37] valera-rozuvan commented on #14
Fixed in PR https://github.com/tsdconseil/opencv-demonstrator/pull/16 .

[2016-01-05 12:37] #14 closed, assigned to nobody

[2016-01-05 13:15] valera-rozuvan opened #17 "Roadmap and todo list"
@juliena82 I think that right now we can move everything from the **Road map** section in the [README.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/README.md) file, to the [todo-list.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/todo-list.md) file.

The roadmap should be more of a release schedule and what we want to achieve for the next release, and oth

[2016-01-05 14:08] valera-rozuvan commented on #10
I have updated **LINUX/I386 TARGET** part of **libcutil/data/std-makefile-defs** file.

[2016-01-05 14:08] #10 closed, assigned to nobody

[2016-01-05 14:14] valera-rozuvan opened #18 "test-webcam.exe doesn't work properly"
When I try to run the program **ocvdemo/build/debug/test-webcam.exe**, I only get an error dialog with the following text:

[code]

However, in the main program, I am able to get video from my camera. @juliena82 Why do you think this is happening?

[2016-01-05 15:39] juliena82 commented on #17
Yes, good idea. But please be carefull to do the merge properly (in fact, some items of the roadmap are already on the todo list, or on the done list).

[2016-01-05 15:48] juliena82 commented on #18
Fixed in last commit. Strange faulty line of code.

[2016-01-05 15:48] #18 closed, assigned to juliena82

[2016-01-05 15:50] valera-rozuvan commented on #18
Commit with fix: a22de0a37eaee0c372639c2699e0d3f6ae1dfa4d .

[2016-01-05 15:59] valera-rozuvan commented on #18
@juliena82 I have tried the latest code on Linux. The **test-webcam.exe** works great! Thank you = )

[2016-01-05 16:01] juliena82 opened #19 "File ocvdemo/data/img/sequence.mpg destroyed"
@valera-rozuvan
Seems that you applied some utf8 conversion algo to this file too...
Please could you revert, and check if another image / video has not be corrupted?

[2016-01-05 16:01] juliena82 commented on #18
You're welcome ;)

[2016-01-05 16:02] valera-rozuvan commented on #19
@juliena82 Sorry! My mistake. Will fix ASAP.

[2016-01-05 16:06] valera-rozuvan commented on #19
OK. So I went through the list of changed files. You can also see it here: https://github.com/tsdconseil/opencv-demonstrator/pull/16/files (click on **26 changed files**). It seems that only 1 video file was touched by mistake. @juliena82  reverting this file now.

[2016-01-05 16:10] valera-rozuvan commented on #19
Fix in dd3684ef06a96724a057f62cc2a6caaded9ad25a .

[2016-01-05 16:10] #19 closed, assigned to valera-rozuvan

[2016-01-05 16:11] juliena82 commented on #19
Thanks

[2016-01-05 16:47] juliena82 opened #20 "Useless complexity with "build_from_source" in Windows install instructions"
@valera-rozuvan
You have modified the build instructions for Windows.
I don't agree with the necessity of the "build_from_source" part. The user can use the folder he wants.
Can you remove that?
And also bring back the "cd  ~/build_from_source" command from the running section to the end linux build section.

[2016-01-05 16:48] juliena82 commented on #20
Thanks in advance ;)

[2016-01-05 16:50] valera-rozuvan commented on #20
How about we remove the **build_from_source** part all together? And just have the build instructions clone OpenCV and our project into home directory?

[2016-01-05 16:50] valera-rozuvan commented on #20
If the user is smart enough to be doing this, he can decide for himself if he wants to do this in a separate directory = )

@juliena82 What do you think?

[2016-01-05 16:52] juliena82 commented on #20
Yes, excellent idea! That's what I was suggesting altogether for the Windows part. For the Linux part, I trust you!

[2016-01-05 16:57] valera-rozuvan commented on #20
Fixed in 8fdcf8d0676495eb7379af9d1659855854276018 .

[2016-01-05 16:57] #20 closed, assigned to valera-rozuvan

[2016-01-05 17:02] juliena82 opened #21 "There is something strange with the last commits"
@valera-rozuvan
When you look at https://github.com/tsdconseil/opencv-demonstrator
The last commit say "Merge branch 'master' of github.com:tsdconseil/opencv-demonstrator", and not what you have just done.
And when we click on this commit, we see the modifications that I had done, but as if you had done it.
And just before, when I commited, it was the same, in the reverse direction.
Haven't we som

[2016-01-05 17:07] valera-rozuvan commented on #21
Sorry. I should have linked to the commit 8fdcf8d0676495eb7379af9d1659855854276018 = ) It's just that you committed something, and I had to merge your new changes with my new commit. It's how Git works.

[2016-01-05 17:09] valera-rozuvan commented on #21
@juliena82 Please take a look at https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging for some theory about Git merges.

[2016-01-05 17:09] valera-rozuvan commented on #21
Anyways, [doc/build-instructions.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/build-instructions.md) looks right to me = )

[2016-01-05 17:09] #21 closed, assigned to valera-rozuvan

[2016-01-05 17:11] juliena82 commented on #21
Yes it's perfect now!

[2016-01-06 16:26] applemuncy opened #22 "Minor build issue compiling on Linux"
Great demo, thanks.

My first attempts to compiling failed with linking errors that went away when I uninstalled  prior  OpenCV installed from Ubuntu repositories. That was on a Ubuntu 15.10 distribution.

On a second Ubuntu 14.04 machine I removed older OpenCV before following your build instructions and except for a few compiler warnings all went well.

[2016-01-06 17:13] juliena82 commented on #22
@applemuncy
Thanks for your feedback!
I will add a warning in the build instructions about this issue. By the way, if you tell how you did remove the old OpenCV version, we could write it too.
Thanks,
Julien

[2016-01-06 18:35] juliena82 opened #23 "Creation of a .deb package for Linux"
The package creation should be completly scripted (automated), and should require the addition of the least possible files to the repository source tree.

[2016-01-06 18:38] juliena82 opened #24 "Fix the eye detection demo"
The eye detection demo do not work anymore since the downsizing of its input image.

[2016-01-06 18:38] juliena82 opened #25 "Simplifying the XML files"
- schema of each demo in the  model.xml  file (no need to edit 2 files to add a demo)
- Splitting  model.xml  in one file by main category

[2016-01-06 18:40] juliena82 opened #26 "Document the current software architecture"
In [software-architecture.md], the goal is to document the current software design, so that other people can modify / contribute to the sources.

[2016-01-06 18:41] juliena82 opened #27 "Build for Apple OS"
(not prioritary, but it was asked to me by mail by several users)

[2016-01-06 18:42] juliena82 opened #28 "Binary package for Apple OS"
Provide a `brew` installation package for Mac OSX.
Remark: needs issue #27 (build for apple OS) solved first.

[2016-01-06 18:55] juliena82 opened #29 "New demonstrations proposals"
Please feel free to add on this thread new demonstrations that you wish to be added!

Notes:
 (1) If you can already provide a detailed description of the demonstration proposal, please feel free to create a specific issue for it (with the 'enhancement' tag).
 (2) If you already have the code for the demo, even if not yet compatible with the demonstrator, please don't hesitate to join it.

[2016-01-06 18:56] juliena82 commented on #29
To begin with, I think it could be good to add:
- Some demo regarding epipolar geometry
- Some demo regarding color spaces (to be defined)

[2016-01-06 19:00] juliena82 commented on #17
Considering that the issue facility of GitHub is very handy (with the different tags), I suppressed the todolist (and created issues instead). Also I simplified the roadmap (it is now just a synthetic view of what will be done).

[2016-01-06 19:00] #17 closed, assigned to juliena82

[2016-01-06 19:48] applemuncy commented on #22
I used synaptic but on the CL I tested:
$ sudo aptitude  remove '~nopencv'
does it or
$ sudo apt-get remove '_opencv_'
should work but using apt-get is untested by me.

So I saw some buzz about aptitude going away from distribution sometime in the future.  Software is such a moving target.

But now I find that my tutorial programs no longer work because libraries they depend on are gone  : ( and w

[2016-01-06 20:42] juliena82 commented on #22
@applemuncy Thanks for the details. Sorry that the opencv 3.0 installation has breaked your dependencies. Apparently, it is not so easy to have more than one OpenCV version on the same Linux (on Windows it is easy, because all OpenCV build process are restricted in specific build directory, there is no installation in any common folder, like /usr/include, ...).

Last time I had to port an OpenCV 2

[2016-01-06 21:03] applemuncy commented on #22
Not to worry @juliena82.
Perhaps I'll look into fixing up ovcdemo's Makefile to pick the correct libraries to link to so the old opencv libraries can co-exist.

[2016-01-06 22:29] efournival opened #30 "Can't build under Debian 8"
Hello,

Here is what I got after launching `make linux` on my Debian Jessie:

[code]

I've done everything as specified here:
https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/build-instructions.md

Excepted that I had to manually install flex (otherwise I was getting a "ld can't find -lfl" error) and Aptitude did not find any candidates for `libjpeg8-dev` and `libtiff4-dev`.

Than

[2016-01-06 22:43] shervinemami commented on #22
You can have multiple OpenCV versions installed at the same time in Linux but it can add complications, so yes it's a good idea to mention at the start of the installation doc that the user should consider removing OpenCV if it was already installed. Another option is to mention to the user that instead of running the "sudo make install" command to copy OpenCV into the system folders, we can show

[2016-01-07 04:35] applemuncy commented on #30
Some coding style changes have broken several files.
setAttribute changes to set_attribute.
hasAttribute changes to has_attribute.
toString changes to_string.

I'm submitting a push.

[2016-01-07 08:06] juliena82 commented on #22
@shervinemami Great remark Shervin! That seems to be the best way to do.
So we need to enable somehow in the ocvdemo build to specify which opencv version to use. I think (if it is like on Windows) that one has just to specify where to find the:
- library folders (e.g. -L~/opencv-3.0.0/build/lib)
- include files (e.g. -I~/opencv-3.0.0/build/include)

Can you confirm me also that these are the same

[2016-01-07 10:01] shervinemami commented on #22
@juliena82 yes it's just the lib and include folder that you need to set. If you provide a way for the user to optionally set custom OpenCV lib and include folders, then that allows users to potentially have multiple installations of OpenCV at the same time.

[2016-01-07 10:06] shervinemami commented on #22
@juliena82 Note that the OpenCV header files won't be in the
"~/opencv-3.0.0/build/include" folder, they will be in the
"~/opencv-3.0.0/include" folder, because header files aren't build (ie: they are the same files you downloaded). Whereas libs are generated when you build OpenCV, and so they are in the "~/opencv-3.0.0/build/lib" folder.

[2016-01-07 12:11] juliena82 commented on #22
@shervinemami Yes it would be the most logical way to find the opencv headers.
However, on my Windows opencv installation, the headers are "build" (or copied from somewhere) in build/instal/include. And in the include folder, there is not all the include files. Maybe something special with Windows... Just to be sure, can you check if in your Linux install, include files are not present in build/in

[2016-01-07 12:16] juliena82 commented on #30
Sorry I have done an incomplete refactoring of the code. The last commit has solved that...

[2016-01-07 12:16] #30 closed, assigned to nobody

[2016-01-07 12:18] juliena82 commented on #30
@applemuncy Thanks for your push. I merged with the main branch (apparently we did the same corrections).

[2016-01-07 15:33] applemuncy commented on #29
My in interest is in binary vision, two webams mounted side by side, so I will thinking about how to incorporate it into ocvdemo.

[2016-01-07 15:52] applemuncy commented on #21
Greetings, @juliena82 @valera-rozuvan , seems to me there needs to be a branches.md in /doc that details where work and testing takes place before merging. I'm definitely a beginner at understanding how to use github with git locally safely.

 Including the link above would be good.

I'll try to submit something soon.

[2016-01-07 16:33] valera-rozuvan commented on #17
@juliena82  +1

[2016-01-07 16:52] juliena82 commented on #21
@applemuncy +1
Yes good idea. I am myself a beginner at GitHub (I used to use only SVN before, and GIT is definitivly more sophisticated). So creating a document for how we will use branches (and with links to docs) is a good thing to do.

[2016-01-07 17:01] juliena82 commented on #29
@applemuncy I definitivly agree that it could be interesting. Moreother, currently, there is almost no demo about stereovision (except for a very simplistic one, wich compute the depth map from 2 already rectified images).

Maybe we could begin by trying to define together more precisely the perimeter of the demo that you are thinking about? I create now a specific thread for this.

[2016-01-07 17:13] juliena82 opened #32 "New demonstration regarding stereo vision"
@applemuncy

Following the idea you have submitted in the "demonstration proposal" thread, I propose that we try to define together more precisely the perimeter of this demo you are thinking about.

As a beginning:
- This demo should open 2 cameras (needs some update in the common engine)
- Would we include stereo camera calibration ? Or maybe we can make a separate demo for stereo calibration, an

[2016-01-07 19:45] applemuncy commented on #32
I think you have captured most of my thoughts and added new ideas.
Toward this goal I have purchased 3 pairs of very inexpensive webcams that I I still need to mount side by side mindful of the future needs of physical adjustments.
The only code I have done so far is minimal to get working two cams streaming at the same time.
I do see the future need  of a specialized demo program.

Perhaps a hypo

[2016-01-07 22:32] efournival commented on #30
I can confirm it is working now. Thanks for your work, opencv-demonstrator is amazing :)

[2016-01-07 22:44] shervinemami commented on #22
@juliena82 Yes the build and install folders are treated differently in Windows vs Linux for some reason, because header files are in the "build" folder in Windows but not in the Linux version. As long as the user has a way to override the default "include" folder and the "lib" folder for OpenCV, then it should be fine for both Windows and Linux. Another reason why it is useful to manually overrid

[2016-01-08 07:48] juliena82 commented on #22
@shervinemami +1 . Yes I will enable to build without root privilege, I didn't think about this good side effect.
I already updated the Makefiles and build instruction to enable one to specify where the opencv folders are (2 variables, one for the include dir, one for the lib dir, as it is not the same on all targets).

[2016-01-08 07:48] #22 closed, assigned to nobody

[2016-01-08 07:52] juliena82 commented on #32
I think that a single camera that moves might need quite other algorithms than 2 fixed cameras. Also I don't know if there is any OpenCV function to handle this case...

[2016-01-08 07:57] juliena82 opened #33 "Enhance the way video and webcam stream are managed (separate thread)"
Currently, when a video or webcam stream is selected, a frame is processed, then some time is waited for, and then the next frame is processed. This is because it is the same thread that process the frames and manage the MMI, so it cannot take 100 % of one core, otherwise the MMI would be blocked.

However the direct consequence is that video processing is unnecessarily saccaded and slow. So the i

[2016-01-08 19:33] juliena82 commented on #33
Done in commit 22ca6dd5ec4b205897b9bd4863854afb9ea5b365

[2016-01-08 19:33] #33 closed, assigned to nobody

[2016-01-09 06:34] valera-rozuvan opened #34 "Much better video OpenCV processing now!"
Hi @juliena82 ! I guess it's your recent changes to how the application uses threads... Now when I use video feed from my web cam, and turn on some OpenCV filter - I don't see any lag in the output video!!! Congratulations = )

Am I right with my assumptions?

[2016-01-09 12:50] juliena82 commented on #34
Yes das ist genau das!
Before, there was only one thread, the GTK GUI thread. And the video processing was made on a basis of 4 frames by second only, so as too keep the GUI responding (and yet, if you tried video processing on one of the cascade démos, you might have had some surprise).
Now there are 3 threads:
- Always the GTK thread (GUI)
- A thread for video decoding
- A thread for image proce

[2016-01-09 16:05] juliena82 opened #35 "Simplify + clarify + document how to create a new demo (C++ API)"
Currently the C++ API to create a new demo is complex, not all in English, and not documented.

[2016-01-09 16:16] juliena82 opened #36 "Simplify the way to change from default image to / from custom image / webcam stream / video stream"
Currently, one has to open the global configuration dialog (for most of the demo), and for some démos (panorama, HDR), there is.the image selection dialog. This is not consistent and too complex.

Also, we must think too how to handle the case of 2 webcams (stereo vision), for which we could also have the option to use 2 images or 2 videos.

My idea for the moment would be to systemize the "image-

[2016-01-09 16:35] valera-rozuvan commented on #34
Thanks for the info!

[2016-01-09 16:35] #34 closed, assigned to nobody

[2016-01-09 16:38] valera-rozuvan opened #37 "Chaining of different filters (image processing functions)"
We should think about how to implement chaining of different filters.
1. A GUI to drag and drop onto a canvas different filters. Connect them, by dragging lines from one filter to another. Something similar to UML diagram editor.
2. Scripting support. Include a scripting engine (JavaScript, Python, or other), and allow a user to import a script which describes a custom filter as a chain of availab

[2016-01-09 16:52] valera-rozuvan opened #38 "Add IP camera input source"
OpenCV comes with support for IP Cameras out of the box (I believe this is the case if OpenCV was compiled with FFmpeg support). Since in our build instructions we include ffmpeg, we can provide an option to use an IP camera as video source. The user just has to provide a URL to the video source.

Please see this simple example of how to get frame-by-frame visuals from an IP camera: http://answers

[2016-01-09 16:53] valera-rozuvan commented on #37
@juliena82 What do you think?

[2016-01-09 16:55] valera-rozuvan commented on #32
@juliena82 @applemuncy I think we can solve the problem of 2 cameras if we provide the user with ability to connect IP cameras. Please see Issue https://github.com/tsdconseil/opencv-demonstrator/issues/38 .

[2016-01-09 16:56] valera-rozuvan opened #39 "Allow multipple video inputs"
We need to allow for configuration of multiple video sources. The 2nd, 3rd, ... cameras will be used for filters which require more than one video input.

[2016-01-09 16:57] valera-rozuvan commented on #29
Created new issue to handle multiple video sources. Issue https://github.com/tsdconseil/opencv-demonstrator/issues/39 .

[2016-01-09 16:58] valera-rozuvan commented on #39
Right now we have just 2 video sources:
1. video file
2. primary PC camera

We need ability to specify other PC connected cameras (web cams).

Also we need ability to specify IP cameras. Issue https://github.com/tsdconseil/opencv-demonstrator/issues/38 .

[2016-01-09 17:39] applemuncy commented on #38
This is good to know.
Perhaps the test-webcan.exe should be changed to test that the URL of the IP camera is correct and working.

[2016-01-09 17:55] juliena82 commented on #37
Writing a GUI to build a filter chain : good Idea. With the following suggestions:
- it should be a different .exe as the ocvdemo (but in the same repo and if needed sharing the same sources), as I think we should beware of "One application, one use case".
- This would generate a XML file describing the chaining. And this would remove the need to do special Scripting (unless you call Scripting wri

[2016-01-09 17:58] juliena82 commented on #38
Actually, I think (but not recently tested on this version of software) that IP camera are already supported!
In fact, the API is the same as when you read a video file. Only instead of specifying a file path, you provide a RTSP (for instance) url. I already used it, but on another project.

[2016-01-09 18:00] juliena82 commented on #38
PS: the only limitation in the current GUI, is that it does not let you enter manually a URL / PATH. This is very easy to change...

[2016-01-09 18:05] juliena82 commented on #39
I think this already mentionned in issue #36
Maybe we can close this issue to avoid duplicate?

[2016-01-09 18:05] #39 closed, assigned to nobody

[2016-01-09 18:06] juliena82 commented on #38
I will add the option to specify manually the URL.

[2016-01-09 18:11] juliena82 commented on #38
It would just need the option to specify manually the URL.
But since this not an urgency, and as proposed in issue #36 , the way the inputs are selected will problably change soon, I propose to close this issue and add a remark about IP camera in issue #36

[2016-01-09 18:21] applemuncy commented on #38
Yes, change in the GUI is what I meant  : )

Yes, move to #36

[2016-01-09 18:30] applemuncy commented on #13
When this gets coded, I suggest making it possible to tear apart the input and output into separate windows. Or an option to stack one above the other.

[2016-01-09 18:53] valera-rozuvan commented on #38
+1

[2016-01-09 18:53] #38 closed, assigned to nobody

[2016-01-09 18:56] valera-rozuvan commented on #36
+1

[2016-01-09 19:05] valera-rozuvan commented on #37
One possibility of Gtk+ library for this job is [GooCanvas](http://live.gnome.org/GooCanvas).

[2016-01-09 21:51] shervinemami commented on #34
Nice infrastructure!

[2016-01-09 21:56] shervinemami commented on #36
I agree that it should be easy to change input sources. Some users will
want to try one filter on a whole range of different images, so it would be
nice to provide a menu option or persistent window so input source can
always be changed easily.

[2016-01-09 22:02] shervinemami commented on #37
Since you guys are talking about a separate EXE for this,  perhaps it is
worth considering integrating opencv-demonstrator with BlendOCV. I know the
guy who made BlendOCV, so if you are interested in collaborating with him,
I can introduce you all. I think he would be interested. One easy solution
would be to import/export files between BlendOCV and opencv-demonstrator.
So then the projects can st

[2016-01-10 09:48] juliena82 commented on #37
@valera-rozuvan @shervinemami
GooCanvas seems cool. Besides it seems that there is also a C++ version (GooCanvasmm).
I had a look at a BlendOCV video, and it looks quite great!
And it seems to do already all what is required for the need of chaining different filters.
Shervin, do you know if there is an installer available? I would be glad to try it for real.

[2016-01-10 09:51] juliena82 commented on #36
Yes, I agree totally. That could be the role of the "image-selection" window, and it would be persistent.

[2016-01-19 08:37] valera-rozuvan opened #43 "USB camera not working after recent changes"
@juliena82 Can you please take a look at why the USB camera might have stopped working? I get the error message:

[code]

I am looking into this too.

[2016-01-19 08:39] valera-rozuvan opened #44 "Application logging to console, and code comments language"
Right now most of the application logs that are printed in the console are in French. Also, most of the comments in the source code are also in French. @juliena82 do you object if I start slowly changing the log messages and the source code comments to English?

[2016-01-19 08:48] valera-rozuvan opened #45 "Added new contributor to the list"
@applemuncy I have added you to [CONTRIBUTORS.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/CONTRIBUTORS.md) file. If you are alright with that, then please reply with a positive comment = )

[2016-01-19 08:55] applemuncy commented on #45
I'm fine with it : )

I'll endeavor to be worthy.

[2016-01-19 09:05] applemuncy commented on #44
While I think logging should be i18n I do wonder what to do about about comments in code. Does Dozygen have any options for handling i18n?

I was thinking when I come across something in French that I have to translate to understand, I would just paste the English undernieth the French in as much as comments get stripped at compile time.

By the way, I think both of you do better at English than m

[2016-01-19 09:39] applemuncy commented on #43
Compiling the latest master, my webcam gets detected OK.

[2016-01-19 10:22] juliena82 commented on #44
@valera-rozuvan
@applemuncy
When I wrote the software, I was working alone and I didn't think at this time that I would have the chance to cooperate aftwerwards with others to improve it. That's why there are a lot of french comments and log messages. Now, as our common language here is english, it's time to change that!

However, I would like to do it in a way to preserve the original french comm

[2016-01-19 10:29] juliena82 commented on #43
@valera-rozuvan
Just before this log message, there should be another message, like "Ouverture camera usb #0...".
Can you confirm that the camera index is #0? Otherwise it tries to open the second camera.
Also you can check that your camera is compatible with opencv by running "./build/debug/test-webcam.exe".

[2016-01-19 10:39] applemuncy opened #46 "Roadmap thoughts and keeping up with openCV."
I suggest we use tags to both indicate the openCV release target and ocvdemo release  number.
First two digits 3.0.x indicate openCV-3.0 and the x be our current release snapshot.

And perhaps a branch indicating bleeding edge as in bleeding_edge_3.1 for work supporting openCV-3.1.

And of course eventually adding new features would be much easier if the code is simplified and documented  : )

[2016-01-19 11:17] valera-rozuvan commented on #43
@juliena82 Yes, it does say:

[code]

[2016-01-19 11:17] valera-rozuvan commented on #43
Hmm. Maybe something is wrong with my system. Let me check and get back to you... @juliena82

[2016-01-19 11:21] valera-rozuvan commented on #46
@juliena82 We should use the [semver](http://semver.org/) methodology. For example, we can have version **opencv-demonstrator v3.x.x** that uses OpenCV 3, and **opencv-demonstrator v2.x.x** that uses OpenCV 2.

Also, we should increment the second number in the version only when a new feature is added to the demonstrator (new functionality). Otherwise, only increase the third number (bugfix releas

[2016-01-19 11:23] valera-rozuvan commented on #44
= ) @juliena82 I agree. We should not remove the French comments and log messages. Instead we should add i18n support for log messages, and add English translations in-place for comments (i.e. below the French comments in the source code).

Also, an option to turn off log messages altogether.

[2016-01-19 11:45] juliena82 commented on #44
@valera-rozuvan
Indeed, I am note sure whether currently the log messages are in utf8 or iso 8859-1. I will check.

Also, by default log messages on the console are off (only logs to log file is on), and are enabled by the -vv command line option (there are other options too, I need to document...)

[2016-01-19 12:33] juliena82 commented on #46
@applemuncy @valera-rozuvan
Aggree with semantic versionning, but disagree with keeping the same major revision as OpenCV (the version number of a software should reflect the evolutions of this software, not of its dependencies).
Also we must define what we understand by "public API": technically we have not public API, since the demonstrator is not a Library, but an application.
So I would sugges

[2016-01-19 12:58] valera-rozuvan commented on #46
@juliena82 +1

I agree with you fully!

[2016-01-19 12:58] applemuncy commented on #44
Under Linux logging messages to console appears to be on by default. One can always redirect by > /dev/null 2> /dev/null
Doesn't bother me any.

And just for the record, I was a foreign exchange student to France and Switzerland for a year many years ago and so this is nice to try to understand French again.  Not so good when I think I know what something means but in fact don't  : (

[2016-01-19 12:59] valera-rozuvan commented on #46
Please create a **ROadmap.md** file in the root of the project, and let's put there several next versions. For each version we need to put down what we want to achieve (new functionality, new features, anything else).

So that we know what we must work on first! Prioritizing is very important!

[2016-01-19 13:00] valera-rozuvan commented on #44
= )

[2016-01-19 13:06] applemuncy commented on #46
So may the first number in semver could be  24.x.x 30.x.x 31.x.x ?
This Application is always going to be tied to openCV isn't it?  And for the new person to openCV they are going to need to know easily which version of openCV a particular version of ocvdemo works with.

[2016-01-19 16:45] juliena82 commented on #44
@applemuncy @valera-rozuvan
Ok, so this is a bug, occuring on Linux only (log message showing up even without -vv option)...
I cannot solve this problem just now (currently working on the refactoring of input selection), but let's this issue stay open so that we do not forget to solve it.

@applemuncy
Super ! nous pourrons donc peut-être échanger (un peu) en français ;)

[2016-01-19 16:52] juliena82 commented on #46
@applemuncy Not so sure : I see three types of person (from the point of view of OpenCV dependencies) who may be interested in this software:
- Someone who just want to run the demonstrator, and will use one of the binary installer (.deb, .exe): he can see which version of OpenCV is used in the about dialog.
- The same, but who wish to compile the lastest version of the demo: he will see the OpenC

[2016-01-19 17:01] applemuncy commented on #44
Mais oui , certainement : )

[2016-01-19 17:21] valera-rozuvan commented on #46
@juliena82 I think that we shouldn't tie the version of **opencv-demonstrator** to the version of **OpenCV** library. We should simply state in the **Readme** file, that comes with the release, what OpenCV version is used.

[2016-01-19 17:22] valera-rozuvan commented on #44
@juliena82 I will try and debug to understand why the log messages appear in Linux.

[2016-01-19 17:29] applemuncy commented on #46
OK, not a big deal.

Any thoughts about how soom to try working with openCV 3.1 ?

[2016-01-19 18:03] juliena82 commented on #46
@applemuncy
You can already use OpenCV 3.1: it suffice to install it instead of OpenCV 3.0.
Note: Currently, not a single new function of OpenCV 3.0 is used (only functions that were already in OpenCV 2.4)!

@valera-rozuvan +1 Yes exactly ! (in the Readme file, and in the build instructions, and in the about dialog).

[2016-01-19 18:07] juliena82 commented on #44
@valera-rozuvan
Oops, I just recheck on Windows, and there is the same problem. Actually, it was modification meant to be temporary that was not reverted. In ocvdemo.cc, removing the following line is sufficient:
  utils::TraceManager::set_global_min_level(TraceManager::TraceTarget::TRACE_TARGET_STD, TraceLevel::AL_VERBOSE);
I cannot push now because I am currentlydoing other modifications, but I

[2016-01-19 22:55] juliena82 commented on #44
Following last push, now by default there is no log on the console unless you specify some trace option at the command line (e.g. -vv)

[2016-01-19 22:57] juliena82 commented on #36
Note: half way there since the last commit: now the image selector is always in use. But it only support one video for now.

[2016-01-19 22:58] juliena82 opened #48 "Improve the way the windows are placed on screen (their default positions)"
Especially the image selector and the result windows.

[2016-01-19 23:01] juliena82 opened #49 "Better management of time consumming demonstrations"
For time consuming démonstrations (for instance: panorama (image stitching), cascade detector):
- There should be a progressbar display
- Each time the user add an image in the image selector, no computing should be done unless the user click on "refresh" (contrary to fast demo, for which the computing should be updated automatically)
- => There should be a flag to specify that the demo is slow.

[2016-01-20 01:05] shervinemami commented on #46
I agree with Julien's idea of versioning, rather than tieing it to OpenCV
versions. As long as it's clearly indicated what version of OpenCV it's
based on (including on the download page of opencv-demonstrator), that is
all that's needed.

[2016-01-20 08:03] valera-rozuvan commented on #44
@juliena82 +1 No logs in console under Linux now. Thanks = )

[2016-01-20 08:03] #44 closed, assigned to juliena82

[2016-01-20 08:05] valera-rozuvan commented on #43
@juliena82 OK. Now the **test-webcam.exe** works. Only problem: with the recent code - int the main program I can't switch to webcam. It always uses images! Any ideas?

[2016-01-20 08:05] valera-rozuvan commented on #36
@juliena82 Keep up the good work!

[2016-01-20 08:26] valera-rozuvan commented on #46
@juliena82 Added [Roadmap.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/Roadmap.md) file. Please add anything else you want to it.

[2016-01-20 08:34] juliena82 commented on #43
@valera-rozuvan
Indeed the webcam support is temporarilly not available, as I am currently working on integrating all input selection on the image selector window. Sorry for the problem, this is "work in progress"...
I work on it, and keep you informed when it works again (it will not be the same user interface to select the webcam).

[2016-01-20 08:35] juliena82 commented on #36
@valera-rozuvan Thanks ;)

[2016-01-20 09:02] valera-rozuvan commented on #46
@juliena82 Also, just in case you still didn't find this feature, a release can be marked in GitHub using this interface https://github.com/tsdconseil/opencv-demonstrator/releases . It creates a tag in Git and also makes available nice archive of the source code taken at that particular tag.

See for example releases of FFmpeg project https://github.com/FFmpeg/FFmpeg/releases !

[2016-01-20 19:36] valera-rozuvan commented on #48
Several things must be addressed:
- they must be on top
- they must be near each other (side by side?)
- their position must be remembered for next application launch

I suggest storing all window sizes and positions in user configuration file (along with language).

[2016-01-21 17:21] applemuncy commented on #46
Yes, @valera-rozuvan , and my thinking is for Linux people that stumble in here, they need to have a stable as possible release point tagged because the Master is being actively worked and is sometimes unstable. Windows people are most likely going to try out the pri-built   binaries.

[2016-01-21 18:08] applemuncy commented on #46
the Roadmap.md has:

## v1.02

released on 21.11.2015

and that's like two weeks before the the initial release so I assume is out of reach.

And by the way, where is the Gold standard of version number stored?

[2016-01-21 19:26] applemuncy commented on #46
OK, answered my own question.  ocvdemo\include\ocvdemo.hpp
Troubling to me is I see that the version of openCV is hard coded in ocvdemo/data/lang.xml
Wouldn't these be better set up as environmental variables in top level Makefile?

I also stumbled into reading ocvdemo/src/ocvdemo-mmi.cc  : )

[2016-01-21 21:22] juliena82 commented on #46
@applemuncy
First, for people needing a stable version, I think the binary version is the right one. Yet, your are right still, because, unfortunately, we not have made any .deb package for Linux (only installer is for Windows)... But soon someone will tackle on this problem... I hope!
Second, you are right, and we will of course tag each time we release a binary version. However, it would be usel

[2016-01-21 21:24] juliena82 commented on #46
PPS : ocvdemo/src/ocvdemo-mmi.cc contains the GTK code. Not my favorite part too ;)

[2016-01-21 21:30] juliena82 commented on #46
@applemuncy
PPPS: I saw that you had began to write a new demonstration some days ago.
I am really sorry if you have found this difficult because of the, currently, very bad documented API and way to do it.
I have began to simplify it, and I will continue soon, and also add a complete example. I hope it is done in several days, and that it will help for creating a demonstration.

[2016-01-22 09:44] valera-rozuvan commented on #46
@applemuncy @juliena82 @shervinemami I believe that we should continue to use **master** branch for latest development. However, we need to be doing the following things:
1. Create release tags when new releases come out. When a person wants to build the project specifically at some release point, he just clones this repository, checks out the appropriate release tag, and builds the required versi

[2016-01-22 10:00] juliena82 commented on #46
@valera-rozuvan +1
For 1., totally aggree, this the right and usual way to do it. That's what I suggested too earlier: let's focus today on having a stable and (as much as we can) bug-free version (but with at least additionnal functions as described in the roadmap (which needs to be updated ;) )) so that we can make a release soon.
For 2., totally aggree too!

[2016-01-22 10:58] valera-rozuvan opened #50 "Release v1.1.0 progress"
Hey guys ( @juliena82 , @applemuncy ). Let's use issues to track down time left to release. We will write down here any problems/concerns/updates on the work to be done to get the release out. The title of the issue will include the release number. [roadmap.md](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/roadmap.md) will be updated if something changes (for example we decide

[2016-01-22 10:59] valera-rozuvan commented on #50
**1. Adding Russian translations.**

Will finish with this on Saturday, 23.01.2016. So by Sunday, 24.01.2016, it should be in **master** branch.

[2016-01-22 11:02] valera-rozuvan commented on #46
OK. So - we have decided on how we will handle our road map, and releases. I believe that we can close this issue. Also, from now on, let's move discussion of each upcoming release to a separate issue. I have already started one for the current release = ) Please see issue #50.

@juliena82 If you are OK with this, please close this issue.

[2016-01-22 11:09] #46 closed, assigned to nobody

[2016-01-22 12:13] juliena82 commented on #50
Hi @valera-rozuvan,

You wrote:
"Please write down who is working on what, and the estimated time you think you will finish with this."

Sorry, but I don't agree with that. I surely did not let the project to be shared as open source so as to be "managed". If you want to manage yourself, and give delivery time, please go ahead, but I will never impose anyone to do so (all the more that I will not

[2016-01-22 12:37] valera-rozuvan commented on #50
@juliena82 +1

[2016-01-22 12:37] #50 closed, assigned to nobody

[2016-01-22 12:48] juliena82 commented on #12
@valera-rozuvan
Hi Valera,
Please be carefull to pull the last version before starting the translation, because there have been some changes in the XML files, otherwise you may have conflict problems.

[2016-01-22 13:04] juliena82 opened #51 "Recommandations for commit / merges / git usage"
Hi @valera-rozuvan @applemuncy
I added a section in [coding style](https://github.com/tsdconseil/opencv-demonstrator/blob/master/doc/coding-style.md) with some recommandations concerning commit (for now), and (in the future) git usage in general.
Please feel free to comment / modify / add remarks on it.
I propose that we add there too the result of our discussions about versionning and release (wh

[2016-01-22 14:41] valera-rozuvan commented on #12
I know = ) Will have to do some merging!

[2016-01-22 14:42] valera-rozuvan commented on #51
+1

[2016-01-22 15:46] applemuncy commented on #51
OK : )  I'll do a 'git fetch upstream' and catch up.

[2016-01-27 13:06] applemuncy commented on #32
Two webcams do work now provided underlining hardware is fast enough, eg. USB.

[2016-01-27 13:11] applemuncy opened #52 "Input image persises in showing the default image after changing to a different demonstration."
It seems the output of the input image display does not update to the current input image. This predates recent changes.

[2016-01-27 13:17] applemuncy opened #53 "cfg.xml"
<?xml version="1.0" encoding="ISO-8859-1"?>
<global-schema />

Fist of all, encoding is wrong.
Second, nothing seems to be getting written.

[2016-01-27 13:20] juliena82 commented on #52
Yes, your right,currently the input image(s) selection is reset to default image each time the demo is changed.
Will be fixed soon....

[2016-01-27 13:24] juliena82 commented on #53
On my PC (Windows), I have this content (2 lines):

[code]

Haven't you the second line? Also, at which location have you found the cfg.xml file (it should be in  ~/.ocvdemo/cfg.xml) ?

Also, this file contains only ASCII data, so the encoding is not so important (it is both ISO and UTF8 ;) ) . Yet, now that all the rest is utf8, i will change that.

[2016-01-27 13:42] applemuncy commented on #53
Yes,`<global-schema />` in mine also but because I didn't use markdown, it didn't show.

But shouldn't other data be persistent like language choice and input sources?

[2016-01-27 14:28] applemuncy opened #54 "Spinner box value not showing."
In Spinner box widget the value is either transparent or the same color as the background.
Only by selecting with the mouse does it become visible.

![opencv-demo](https://cloud.githubusercontent.com/assets/11213926/12616177/bb9f3104-c4d7-11e5-8d3d-1af2f49026db.png)

[2016-01-27 14:39] applemuncy commented on #36
Yes, keep up the good work.
It seems to me the "Media selection" window should ask for "Image source" Rather than "image type" and in the situation where 2 are required  a second pane that asks for "image source 2" should show up.

[2016-01-27 18:31] juliena82 commented on #53
Yes, totally right, input sources should be there : it will be added when it is managed in the image selecteur.
As for language selection, the XML tree do not save attributes when they are equal to their default values, and as you have probably selected English as language, and as English is the default language, it is implied...

[2016-01-27 18:33] juliena82 commented on #36
@applemuncy
Good ideas! Will fix the window name and try to go in this direction for the 2 images case (yet it is not so simple, as there can be in general as many input sources as possible).

[2016-01-27 18:39] juliena82 commented on #54
Ooops! Not so easy to use then, if it's invisible!
The problem does not appear on Windows, but only on Linux. I may have an idea why.
By the way, I see that the image selection window title is in french, not normal ;) will try to fix that too...

[2016-01-27 20:14] applemuncy commented on #54
Yes, I had not noticed.

[2016-01-27 20:46] juliena82 commented on #54
Ok, both bugs are now fixed with last commits. Thanks for your feedback!

[2016-01-27 20:47] juliena82 commented on #53
Last commit changed the output encoding to UTF-8.

[2016-01-28 02:35] applemuncy commented on #54
Fixed, thanks.

[2016-01-28 02:35] #54 closed, assigned to nobody

[2016-01-28 12:31] applemuncy commented on #36
Consider the use case of comparing a still image against a video stream, I think it would be wise to be as generic as possible in how we hold the media selection. Image files could be by way of URL as in FILE://C:/....  Or FILE:///home/apple/images/image.jpg

Webcam could be FILE:///dev/video0 under Linux even though OpenCV currently expects a cardinal number. In the future, maybe OpenCV will come

[2016-01-28 18:17] applemuncy commented on #53
OK @juliena82, I see that it is in fact  writing   langue = "0"  to cfg.xml
I'm a bit surprised to see "0" instead of "fr"

I've been looking into how Gtkmm, Glade, and also libxml++
I know you have put years of work into your library but I'm wondering if many of the things your library does could be done more easily using those where they have become stable.

[2016-01-28 21:16] juliena82 commented on #53
Yes of course, you're right, we should't reinvent the Wheel ;)
But now I don't want to spend too much time on it, and I prefer to reuse old libraries which I already know...

[2016-01-28 21:19] juliena82 commented on #36
Yes, in principle, you're right, but it's made that way to enable to generate automatically the MMI (it has constraints...). In the end, it will be almost as you say, only not a pure vector of URL, but between a tree and a vector...

[2016-02-04 17:35] applemuncy commented on #35
Yes, awhile back I did work at making a new demonstration with the prime purpose of learning the internals of Opencv-demo. What I learned about the process and documentation is that it was just a start with important information missing. At the time I thought the best change would be to direct the developer to pick the simplest demo, copy, rename it, modify all the other places needed to make a wo

[2016-02-04 17:44] applemuncy opened #56 "Saving an output image to file fixed 'chez moi'"
With a very minor edit I am able now to save output images but have not yet pushed a commit. I'll get a commit cleaned up to push in a day or two.

[2016-02-05 09:05] #45 closed, assigned to nobody

[2016-02-05 10:27] juliena82 commented on #35
@applemuncy

Great idea!

Actually, there is already the "demo-skeleton" files (demo-skeleton.hpp / demo-skeleton.cc), but indeed, this file is not currently compilable, so the user cannot just copy / past; he has to do other modifications in this file and in other files (e.g. model.xml and schema.xml)

Maybe this "demo-skeleton" could be modified using your idea, e.g. really working and being inc

[2016-02-05 13:01] applemuncy commented on #56
OK, made a pull request. Not as clean a commit as I wanted to do but the trouble of excluding other small edits didn't seem worth the trouble.

[2016-02-05 13:12] applemuncy commented on #35
Right, I know about the demo-skeleton.\* files. And IMO they become stale because they don't actually get tested as a real demo.
Yes, demo-skeleton.\* could be made to work as a real demo.

[2016-02-05 13:56] applemuncy commented on #53
@juliena82 I think we should keep this issue open and talk about configuration enhancements here.

I think a default copy of cfg.xml should be stored in opencv-demo/ocvdemo/data with as many of opencv-demo's default settings encoded in it as practical. At program start-up the main thread check for the existence of .ocvdemo/cfg.xml and then does a system copy if it doesn't exist. Then the main thre

[2016-02-05 14:16] applemuncy commented on #53
By the way, IMO using the absence of the  langue = "" as indication of default should be changed along with using standard encoding of fr en ru de etc rather than a number.

[2016-02-05 19:46] applemuncy commented on #43
I think this could be closed

[2016-02-05 22:29] applemuncy commented on #35
OK. I've got it working but needs a little polish.

[2016-02-06 12:52] #51 closed, assigned to nobody

[2016-02-06 12:52] #43 closed, assigned to juliena82

[2016-02-06 13:18] juliena82 commented on #56
@applemuncy
I fixed some minor mistakes in your push: You changed default number of input images to 2 instead of 1, which resulted in 2 images required for every demo. To support 2 input image, one has only to say it in the demo properties (see StereoCal demo in 3d.cpp for example).

Also you added some debug trace, I just changed their level from normal to verbose.

Also, I don't yet understand w

[2016-02-06 14:15] applemuncy commented on #56
I woke up this morning realizing I had not done the right thing with the commit message. I left off the [ocvdemo]. I will endeavored to remember in the future to add the bracketed label.

The open button is my attempt to make it possible to choose input images before selecting a demo. It is incomplete in that I don't know how to fully initialize the img_selection before calling the show method. Bu

[2016-02-06 18:14] juliena82 commented on #56
@applemuncy

I am not sure if it is useful to be able to choose the demo input from the main dialog, when no demo is selected. Don't we should try to keep the application as simple as possible? What do you think about it? But maybe you think of a usecase that I didn't think of?

Great!
I too need the 2 cameras functionnality so as to continue with the stereo démos. So it is an additionnal motivati

[2016-02-07 21:20] juliena82 commented on #56
@applemuncy
It's too much work for me to edit the conflicts each time you propose a new branch ;)
So I just sent you an invitation to be part of the team with write accesses to the repo. But please be carefull to update regularly, especially before modifying or writing new code, and also please be carefull not to modify code that you are not sure to fully understand yet! (Yes I know some code is s

[2016-02-07 21:20] #56 closed, assigned to nobody

[2016-02-08 19:18] juliena82 opened #60 "Problems with last commit / Modifications made too quickly"
Hi @applemuncy

There are some problems with your last commit:

1) What is the "+site" directive in the .gitignore?
2) Why did you did the following change:

[code]

It breaks my engine to generate the web site, and I don't understand why you did this?
3) In the following change (ocvdemo-mmi):

[code]

I am sorry, but no, my OpenCV version on Windows still does not support UTF8. See below:
![captu

[2016-02-08 21:34] applemuncy commented on #60
site/ in .gitignore tells git not to version /opencv-demonstrator/site/contenu/opencv/ocvdemo .
If that is a problem for your set-up I can figure out how to put it in my global git configuration.

That is very interesting to see that OpenCV doesn't handle UTF8 in that situation. I've revert it and send a screen shot of what it does with out the change on my OpenCV.

Yes, certainly, I will revert t

[2016-02-08 22:14] applemuncy commented on #60
![screenshot from 2016-02-08 17-09-30](https://cloud.githubusercontent.com/assets/11213926/12900993/0d212a06-ce87-11e5-9c58-5e61d90ab122.png)

It's interesting to note the differences in the toolbar.

[2016-02-08 22:33] applemuncy commented on #60
While we are on the subject of asking questions, from the file ocvdemo/src/ocvdemo-export.cc:  `s += std::string(R"(<tr><td colspan="2"><b>Démonstration</b></td><td><b>Description</b></td></tr>)") + "\n";`  The R is a mystery to me. It looks like a MACRO  but I can't fine it. Do you know?

[2016-02-09 07:46] juliena82 commented on #60
@applemuncy
The difference in toolbars appararence is probably related to some kind of system specific configuration of GTK.
The R prefix before a string is a standard C++ way to define a raw string with carriage return and \ Inside (see http://en.cppreference.com/w/cpp/language/string_literal).

[2016-02-09 07:47] juliena82 commented on #53
Can you elaborate please?

[2016-02-09 07:52] juliena82 commented on #60
I can propose you some interesting démos that would be great to be integrated in the demonstrator.
For instance, detecting objects and computing bounding box:
http://docs.opencv.org/2.4/doc/tutorials/imgproc/shapedescriptors/bounding_rects_circles/bounding_rects_circles.html
And also computing convex hull around objects: http://docs.opencv.org/2.4/doc/tutorials/imgproc/shapedescriptors/hull/hull.h

[2016-02-09 17:41] applemuncy commented on #60
That s very useful about the R prefix. So I went looking to see if -std=c++11 was in our Makefile any where and tested adding it without any obvious changes in compilation. So I gather it is rolled in by default nowadays. `u8 " (unescaped_character|escaped_character)* "` looks useful too.
- Yes, I would like to get on with building other demos.

  I've gotten stuck looking into why the Russian lan

[2016-02-10 08:58] juliena82 commented on #60
Il y a l'option "-std=c++0x", qui est similaire.

I have the same problem with the russian text. Maybe a problem in my GTK wrapper, I will investigate later. Anyway, I think you can remove it (unless you can speak russian), and in general I would recommend to avoid to add any "Google translatation" generated text, because there are too much mistakes. I prefer that the translation lacks than it to

[2016-02-10 13:06] applemuncy commented on #60
I'm pushing a fix now.

[2016-02-10 13:21] applemuncy commented on #60
Just noticed your latest commits so I will wait.

[2016-02-10 17:26] juliena82 commented on #60
En effet, ça marche maintenant. Bien joué ! (well done!)

[2016-02-11 14:56] applemuncy commented on #60
Thanks : )
It's true I used Google translate for the Russian translation. Given the origins of OpenCV and current support by Itseez-vision, I think working toward a good Russian Language integration in OpenCV-demo is important.  I regret not seeing  Valera contributing anymore.  I fully agree with you personally about now submitting to being a managed volunteer. On the other hand, I didn't really

[2016-02-12 11:20] applemuncy commented on #35
I'm ready to close on this issue. The next person to go though the process can find the rough spots and provide better edits.

[2016-02-15 16:50] applemuncy commented on #24
I hope my latest commit has fixed this.

By the way, eye and face detection work with my webcam now : )

[2016-02-15 19:07] juliena82 commented on #24
Good job!
The "output.nout = 0" was an error introduced when I changed the demo item API.
Note that by default, output.nout = 1 (because most démos have only one output image), so the faulty line can be simply removed.

Unfortunately, the original bug is still present: eyes are still not detected on the default image. But as it appears to work with your webcam, maybe it is just a configuration pro

[2016-02-16 17:41] applemuncy commented on #52
"...currently the input image(s) selection is reset to default image each time the demo is changed."
No, this is not the case. If I grab a corner to resize the window and drag out to resize, the correct image is displayed. So I think it is just a matter of using the correct method to make the gtk_image update to the new image.  I'll see if I can learn enough gtkmm to get it working. But don't wait

[2016-02-18 01:47] amckinlay commented on #27
Any idea on what changes need to be make to compile on OS X?

[2016-02-18 12:39] juliena82 commented on #27
I have no precise idea as I don't know OS X. But I suppose that it is similar to Linux, and that GCC is available. So probably the Makefile is already compatible with OS X, but the build instructions (especially how to install opencv) are probably different.

In the end, I think one could start by using Linux build instructions, and and fix step by step when needed.

[2016-02-19 05:33] amckinlay commented on #27
Here is my first attempt at building: https://gist.github.com/amckinlay/82a1068256dc1a24f184.

[2016-02-19 09:53] juliena82 commented on #27
@amckinlay Thanks for your attempt. I hope that you will eventually succeed!

As for the compiling problems, apparently, other people have encoutered a similar problem with pthreads (https://github.com/ratschlab/mmr/issues/1), they suggest to update GCC to at least version 4.7.7.
Do you known what version of GCC you are currently using? (gcc --version)

[2016-02-19 12:15] applemuncy commented on #27
I, likewise, have no experience with compiling on a Mac. I'm strictly a Linux person.
What I notice is the last error reported that GCC can't find `<malloc.h>`.   I thought at first  that might indicate deeper setup problems but reading further about the issue of GCC not finding  `<malloc.h>`, I find information that says malloc is supplied by `<stdlib.h>` so `<malloc.h>`. shouldn't be included. L

[2016-02-19 12:34] applemuncy commented on #32
I an testing using addWeighted() to combine the two images into one as a means of aiming the two webcams at a distant point by physical adjustment.
![2va0](https://cloud.githubusercontent.com/assets/11213926/13175816/05ca8070-d6db-11e5-855a-2d4a21d432da.png)
![2va1](https://cloud.githubusercontent.com/assets/11213926/13175817/05cc1174-d6db-11e5-8acd-0e10fd99b063.png)
![2va2](https://cloud.githubus

[2016-02-19 16:02] juliena82 commented on #32
Good idea! Don't hesitate to add it to the main repo when it works.

[2016-02-20 23:04] amckinlay commented on #27
What is `libcutil`?

@juliena82 I used Homebrew's GCC, and I no longer get the Pthread compilation errors. Thanks!

@applemuncy You are right. I removed all references to `malloc.h`.

With those errors resolved, now I get compilation errors in `hal.cc`. Apparently, Mac doesn't support `clock_gettime()` (http://stackoverflow.com/questions/5167269/clock-gettime-alternative-in-mac-os-x). These abstra

[2016-02-21 17:46] applemuncy commented on #27
@amckinlay , exploring my Ubuntu based system I find that `clock_gettime()` is from `<time.h>` that is installed by the libc6 packages. libc6 also installs a copy of `<malloc.h>` which is why I don't get errors when a program includes  `<malloc.h>`.  So I have to conclude your development setup is not complete.

If Homebrew handles dependencies correctly, installing libgtkmm-3.0-1 libgtkmm-3.0-dev

[2016-02-21 22:22] amckinlay commented on #27
@applemuncy Is there an alternative C library for OS X? Because the system C library as implemented on OS X does not have the same exact time functions (see StackOverflow link from above) and `malloc` is not in `malloc.h`. I'm pretty sure Homebrew does not ship an alternative C library.

[2016-02-22 04:29] amckinlay commented on #27
Almost...
<img width="842" alt="screen shot 2016-02-21 at 11 25 48 pm" src="https://cloud.githubusercontent.com/assets/1351003/13209530/cfe4e454-d8f2-11e5-9607-3042cdd0854d.png">

[2016-02-22 09:20] juliena82 commented on #27
Congratulations! And does the image processing function work too?
Also, if needed, don't hesitate to use alternative if some libararies are not available on Mac.
For instance, in the code, you can add

[code]

to define Apple specific implémentations.

[2016-02-22 17:45] applemuncy commented on #27
OK @amckinlay I follow what you are saying now about `clock_gettime()`.
Would switching to the use of `gettimeofday()` work for you?

Good to see you are making progress : )

[2016-02-22 19:53] amckinlay commented on #27
The problem lies with both `clock_gettime()` and `CLOCK_MONOTONIC`. Both
are unsupported on OS X. I compiled with `clock_get_time()` and
`mach_timespec_t` from `mach/clock.h` and `mach/mach.h` instead. But I
think I did the conversion incorrectly because `ocvdemo.exe` hangs on
startup. Also, `ocvdemo.exe` isn't finding a particular `.dylib` when run
from the recommended working directory.

I plan

[2016-02-22 20:17] juliena82 commented on #27
For the demo, probably "gettimeofday()" will do. I used "clock_gettime" because I needed real time behavior, but for other applications, not for the opencv demo.
Also, to not break things for the other targets, ideally the "gettimeofday()" alternative should be quoted with `"#ifdef __APPLE__"` directives.
hal.h is here to provide portable Mutex / Signal objects (more specificaly, working also on W

[2016-02-22 21:12] applemuncy commented on #27
I suggest `gettimeofday()`   because it would get us by with out the addition of `__APPLE__` or `__MACH__` .
Indeed if there will be other places that will need those include guards, I say fine

[2016-02-22 21:47] juliena82 commented on #27
@applemuncy No, in this case, the addition of `__APPLE__` is needed, otherwise it breaks the real time behavior, as would be expected on other projets.

[2016-02-24 11:41] applemuncy opened #67 "Image inpainting / Réparation d'image = broken"
Input image updates with mouse clicks but output image does not repair.

[2016-02-24 12:16] applemuncy opened #68 "Command line "-c" hangs"
It appears that when update() calls    `signal_calcul_termine.wait();`
`OCVDemo::thread_calcul()` is not running.

[2016-02-24 13:35] applemuncy commented on #68
Found the problem. I will push a fix. Please evaluate for correctness.
 Command line "-c"  will run until it switches to from demo     "Détections de points d'intérêts" / "Corner / interest point detection"  to "Mise en correspondance" / "Matching"

[2016-02-24 13:56] #68 closed, assigned to nobody

[2016-02-24 13:58] applemuncy opened #70 "Command line "-c" starts but does not complete"
Command line "-c" will run until it switches to from demo "Détections de points d'intérêts" / "Corner / interest point detection" to "Mise en correspondance" / "Matching"

[2016-02-27 12:17] applemuncy commented on #52
ImageSelecteur::maj_selection() now puts bigmat into gtk_image so the the Source(s) selection window show the current source image.

It is now possible to remove an image in the stitch demo and redisplay.

[2016-02-27 12:19] applemuncy commented on #24
I changed the eye cascade demo to use the default image.

[2016-02-27 12:19] #24 closed, assigned to nobody

[2016-02-28 07:57] juliena82 commented on #52
Hi @applemuncy
I would like your help so as to understand what exactly is the bug related to this issue, and the fix you have done.

First, I do not understand your description of the bug and so I am unable to reproduce it. It is and has always been possible to remove an image from the stich demo. Or not?

Secondly, I dont understand your fix either: you have done copy / paste of the following lin

[2016-02-28 08:34] juliena82 commented on #67
Fixed with last commit.

[2016-02-28 08:34] #67 closed, assigned to nobody

[2016-02-28 08:35] #60 closed, assigned to nobody

[2016-02-28 08:40] juliena82 commented on #53
I close the issue since the original question has been answered, but I see that I didn't answer to all your remarks @applemuncy. In fact, you suggest to have an additionnal cfg.xml file with the default values for the démos, but this is not required, as the default values are already stored in the file schema.xml (see the default field in each attribute).

[2016-02-28 08:40] #53 closed, assigned to nobody

[2016-02-29 21:42] juliena82 commented on #70
Fixed with last commit!

[2016-02-29 21:42] #70 closed, assigned to nobody

[2017-01-06 00:24] dan-amoroso opened #75 "Issue during build: createSuperpixelSLIC and SLICO not members of cv::ximgproc"
Hello, and thank you for the library!

Unfortunately I was not able to complete the build of the demonstrator: the build fails with the following error

src/demo-items/segmentation.cc: In member function ‘virtual int DemoSuperpixels::proceed(OCVDemoItem::OCVDemoItemInput&, OCVDemoItem::OCVDemoItemOutput&)’:
src/demo-items/segmentation.cc:13:15: error: ‘createSuperpixelSLIC’ is not a member of ‘cv:

[2017-01-10 14:52] juliena82 commented on #75
Hello,
Maybe it is because you don't have the opencv contrib repo installed? I am not 100 % sure, but I think that this function are not in the main opencv repo.

[2017-03-06 02:21] RichLewis007 commented on #27
What's the status of this work?

[2017-03-07 02:21] amckinlay commented on #27
I just gave up. I didn't have the expertise.

[2017-03-15 17:57] RichLewis007 commented on #27
Is anyone else able to help out with this?

[2017-04-09 02:59] jyapujuju opened #76 "make[1]: *** No rule to make target 'build/debug/ocr.o', needed by 'build/debug/lib.a'. Stop."

[2017-08-01 19:21] WascallyWabbit opened #77 "Demo dialogs vanish on windows"
[Crosspost of [bug 9282](https://github.com/opencv/opencv/issues/9282) on OpenCV site]
This is fairly serious because it cripples users on Windows.
System information (version)

OpenCV Demo Version 1.1.0, OpenCV 3.0.0, GTKMM 3.0

OpenCV => 3.0
Operating System / Platform => Windows 64 Bit

Several of the dialogues that come up from the demo program are invisible and inoperable. This includes the c

[2017-08-03 06:40] WascallyWabbit commented on #76
I am seeing the same thing after following the build instructions verbatim. I think I am missing an ocr.cpp file.

Spew follows.
  Successfully remade target file 'data-update'.
  Considering target file 'build/debug/lib.a'.
   File 'build/debug/lib.a' does not exist.
    Considering target file 'build/debug/ocr.o'.
     File 'build/debug/ocr.o' does not exist.
     Finished prerequisites of targe

[2017-10-04 13:19] juliena82 commented on #77
Hi,
I could not reproduce the problem you are describing on my plateform (Windows 10).
However, I have released a new version of the demonstrator for Windows (v 1.3.0), based on MSYS2 toolchain and a newer version of GTK. So maybe this problem has disappeared?

[2017-10-04 13:20] juliena82 commented on #77
Can you test the new version and confirm ?

[2017-10-04 13:20] juliena82 commented on #76
You need the OpenCV Contrib repositery intalled before compiling the demonstrator.

[2017-10-04 13:20] #76 closed, assigned to nobody

[2017-10-04 13:21] #75 closed, assigned to nobody

[2017-10-04 13:21] #52 closed, assigned to nobody

[2017-11-08 08:49] SebAmb opened #78 "Compilation problem of libcutil"
Hi,

I try to compile libcutil but it is canceled because journal.hpp is not found.
Could you please add this file in the project or tell me if it is related to a specific library
I have to install.

Thanks for your help.

Best regards,

Sebastien

[2017-11-10 08:30] juliena82 commented on #78
Bonjour Sébastien,

En effet, pardon j'avais oublié quelques fichiers lors du dernier commit.
Je viens de pousser une mise à jour avec les fichiers manquants.

N'hésitez pas à me dire si il manquait encore quelque chose...

Julien

[2017-11-10 15:35] SebAmb commented on #78
Bonjour Julien,

Merci pour cette mise à jour.
Je viens de tenter une compilation sous linux version 64 bits mais j'obtiens des erreurs lors de la compilation de src/mmi/theme.cc

Aurais-tu une idée ?

Merci beaucoup.

Sébastien

********

Compilation c++ : src/mmi/theme.cc...
src/mmi/theme.cc:23:48: error: ISO C++ forbids declaration of ‘type name’ with no type [-fpermissive]
void on_parsing_erro

[2017-11-11 19:20] juliena82 commented on #78
Pardon Sébastien, j'ai du ajouter du code qui ne marche que sous Windows (sans m'en rendre compte). Du coup, je vais refaire une compilation sous Linux dès que possible, et corriger les problèmes. Je te tiens au courant dès que c'est fait (j'espère dans les prochains jours...)

[2017-11-13 07:50] SebAmb commented on #78
Bonjour Julien

C est bien ce que je redoutais.
Pas de problème.
J attends de t'es news.

Sébastien

Envoyé depuis mon HTC

----- Message de réponse -----
De : "Julien" <notifications@github.com>
Pour : "tsdconseil/opencv-demonstrator" <opencv-demonstrator@noreply.github.com>
Cc : "SebAmb" <sebastien.ambellouis@ifsttar.fr>, "Author" <author@noreply.github.com>
Objet : [tsdconseil/opencv-demonstrat

[2017-12-10 15:39] phtlnx commented on #78
bonjour,

je confirme avoir  la même erreur.
Archlinux :
Linux : 4.14.4-1-ARCH #1 SMP PREEMPT Tue Dec 5 19:10:06 UTC 2017 x86_64 GNU/Linux
gcc : 7.2.1 20171128
gtkmm3 : 3.22
gtk3 : 3.22.26

en attendant une mise à jour,
bonne journée.

Phil

[2018-02-16 16:37] cmencar opened #79 "What do you mean by "Color space" in Histogram Equalization?"
In the "Histogram Equalization" function, it is possible to choose a color space, but color spaces are represented by number from 0 to 4 and their meaning is not clear.

[2018-03-18 06:34] harrykarwasra opened #80 "Unable to drag and open image"
I tried opening an image by dragging it into the demonstrator window and this caused it to shutdown unexpectedly. I downloaded the log file and has been attached.
I have attached the log file for reference.

[Log.txt](https://github.com/tsdconseil/opencv-demonstrator/files/1822407/Log.txt)

[2022-02-14 10:24] valera-rozuvan commented on #13
Closing this issue due to lack of activity.

[2022-02-14 10:24] #13 closed, assigned to nobody

[2022-02-14 10:24] valera-rozuvan commented on #37
Closing this issue due to lack of activity.

[2022-02-14 10:24] #37 closed, assigned to nobody

[2022-02-14 10:25] valera-rozuvan commented on #12
Closing this issue due to lack of activity.

[2022-02-14 10:25] #12 closed, assigned to valera-rozuvan